<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qt.quartz.dao.QuartzMapper" >

    <sql id="table_name">quartz</sql>

    <select id="taskTime"  resultType="string">
        select task_time from quartz limit 1
    </select>

</mapper>